{{#each docs.categories }}
	<h3>{{ name }}</h3>
	<ul class="nav">
		{{#each pages}}
			<li><a href="/docs/{{../../version}}/{{#if ../slug}}{{../../slug}}/{{/if}}{{slug}}.html">{{ title }}</a></li>
		{{/ each}}
	</ul>
{{/each }}
