---
layout: structure.hbs
---

<div class="page-title">
	<h1>v{{ version }} Documentation</h1>
</div>

{{#each categories }}
	<h2>{{ category }}</h2>
	<hr/>
	<div class="row">
		{{#each pages}}
			<div class="col-md-6 col-lg-4">
				<p class="lead"><a href="/docs/{{../../version}}/{{data.categories}}/{{filename}}">{{ data.title }}</a></p>
				<p>{{ data.desc }}</p>
			</div>
		{{/ each}}
	</div>
{{/each }}
