---
layout: structure.hbs
---

<div class="body-wrap">
	<div class="container">
		<h1 class="page-header">v{{ version }} Documentation</h1>

		{{> body }}

		<div class="category-list">
			{{#each docs.categories }}
				<div class="category">
					<h2>{{ name }}</h2>
					<div class="row">
						{{#each pages }}
							<div class="col-md-6 col-lg-4">
								<h4><a href="/docs/{{../../version}}/{{#if ../slug}}{{../../slug}}/{{/if}}{{slug}}.html">{{ title }}</a></h4>
								<p>{{ desc }}</p>
							</div>
						{{/each }}
					</div>
				</div>
			{{/each }}
		</div>
	</div>
</div>
